body,
html {
  padding: 0px;
  margin: 0px;
  cursor: default;
  background-color: #848789;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
}

.page-container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-image: url("../src/img/header_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 600px;
  display: grid;
  justify-content: center;
}

.header__container {
  padding-top: 35px;
}

.header__item a {
  text-decoration: none;
}

.header_item:nth-child(1) {
  letter-spacing: 2.6px;
}

.header__top {
  display: flex;
  flex-direction: row;
  height: 85px;
  align-items: center;
}

.header__top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 207px;
  min-width: 150px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logo {
  width: 94px;
  height: 85px;
}

.header__logo-container {
  margin-right: 65px;
  margin-left: 65px;
}

.intro {
  width: 100%;
  min-height: 469px;
  background-color: #f7f7f7;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.intro__tittle {
  margin-top: 34px;
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro__tittle-decor {
  letter-spacing: 3.6px;
}

.intro__logo {
  margin-top: 117px;
  width: 52px;
  height: 43px;
  background-color: #f7f7f7;
}

.intro__logo-item {
  width: inherit;
  height: inherit;
}

.intro__text {
  margin-top: 35px;
  margin-bottom: 142px;
  max-width: 400px;
  color: #848789;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.bikes {
  background-color: #f7f7f7;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bikes__logo {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bikes__logo--big {
  grid-column: span 2;
}

.bikes__logo-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bikes__item {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: white;
}

.bikes__item-text {
  color: #848789;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.99px;
  margin-left: 69px;
  margin-right: 69px;
  margin-bottom: 103px;
}

@media screen and (max-width: 1440px) {
  .bikes__item-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .bikes__item-tittle {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .bikes__item-tittle span {
    letter-spacing: normal;
  }
  .bikes__item-img {
    margin-top: 38px;
  }
}

.bikes__item-img {
  margin-top: 58px;
  height: 41px;
  width: auto;
}

.bikes__item-tittle {
  margin-top: 20px;
  margin-bottom: 26px;
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.bikes__item-tittle span {
  letter-spacing: 3.6px;
}

.bikes__item-bottom {
  justify-items: center;
  align-self: end;
  position: relative;
  width: 100%;
  margin-bottom: -4px;
}

.bikes__item-bimg {
  width: 100%;
  height: auto;
}

.bikes__item-decor {
  position: absolute;
  left: 50%;
}

.bikes__item-decor svg {
  margin-left: -10px;
  margin-top: -2px;
}

.tweets {
  background-color: #f7f7f7;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: '. tweet .';
}

.tweet {
  grid-area: tweet;
}
