//$main_width:1024px;
$main_width:100vw;
$onethird_width:$main_width/ 3;

$backgroung_color_gray: #f7f7f7;
$backgroung_color_white: white;
$font_color_title: #353738;
$font_color_text:#848789;

body,
html {
    padding: 0px;
    margin: 0px;
    cursor: default;
    background-color: $font_color_text;
    overflow-x: hidden;
}

:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
}

.page-container {
    width: $main_width;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: url('../src/img/header_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 600px;

    display: grid;
    justify-content: center;

    &__container {
        padding-top: 35px;
    }

    &__item a {
        text-decoration: none;
    }

    &_item:nth-child(1) {
        letter-spacing: 2.6px;
    }

    &__top {
        display: flex;
        flex-direction: row;
        height: 85px;
        align-items: center;

        &-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 207px;
            min-width: 150px;
            font-family: Lato;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__logo {
        width: 94px;
        height: 85px;

        &-container {
            margin-right: 65px;
            margin-left: 65px;
        }
    }
}

.intro {
    width: 100%;
    min-height: 469px;
    background-color: $backgroung_color_gray;
    display: grid;
    justify-content: center;
    justify-items: center;

    &__tittle {
        margin-top: 34px;
        color: $font_color_title;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

        &-decor {
            letter-spacing: 3.6px;
        }
    }

    &__logo {
        margin-top: 117px;
        width: 52px;
        height: 43px;
        background-color: $backgroung_color_gray;

        &-item {
            width: inherit;
            height: inherit;
        }
    }

    &__text {
        margin-top: 35px;
        margin-bottom: 142px;
        max-width: 400px;
        color: $font_color_text;
        font-family: Lato;

        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
    }

}

.bikes {
    background-color: $backgroung_color_gray;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__logo {
        height: auto;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        &--big {
            grid-column: span 2;
        }

        &-img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item {
        display: grid;
        justify-content: center;
        justify-items: center;
        background-color: $backgroung_color_white;

        &-text {
            color: $font_color_text;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 29.99px;
            margin-left: 69px;
            margin-right: 69px;
            margin-bottom: 103px;
        }

        @media screen and (max-width: 1440px) {
            &-text {
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 50px;
            }

            &-tittle {
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 16px;

                & span {
                    letter-spacing: normal;
                }
            }

            &-img {
                margin-top: 38px;
            }


        }


        &-img {
            margin-top: 58px;
            height: 41px;
            width: auto;
        }

        &-tittle {
            margin-top: 20px;
            margin-bottom: 26px;
            color: $font_color_title;
            font-family: Lato;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;

            & span {
                letter-spacing: 3.6px;
            }
        }

        &-bottom {
            justify-items: center;
            align-self: end;
            position: relative;
            width: 100%;
            margin-bottom: -4px;
        }

        &-bimg {
            width: 100%;
            height: auto;
        }

        &-decor {
            position: absolute;
            left: 50%;

            & svg {
                margin-left: -10px;
                margin-top: -2px;
            }
        }
    }
}

.tweets {
    background-color: $backgroung_color_gray;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    grid-template-areas:
        '. tweet .'
}

.tweet {
    grid-area: tweet;
}