$main_width:1024px;
$onethird_width:$main_width/ 3;

$backgroung_color_gray: #f7f7f7;
$backgroung_color_white: white;
$font_color_title: #353738;
$font_color_text:#848789;

body,
html {
    padding: 0px;
    margin: 0px;
    cursor: default;
    background-color: $font_color_text;
}

:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
}

.page-container {
    width: $main_width;
    margin: 0 auto;
}

.header {
    width: $main_width;
    background-image: url('../src/img/header_img.png');
    background-size: auto auto;
    background-position-x: center;
    background-position-y: top;
    height: 100vh;
    max-height: 800px;

    display: grid;
    justify-content: center;

    &__container {
        padding-top: 35px;
    }

    &__item a {
        text-decoration: none;
    }

    &_item:nth-child(1) {
        letter-spacing: 2.6px;
    }

    &__top {
        display: flex;
        flex-direction: row;
        height: 85px;
        align-items: center;

        &-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 207px;
            min-width: 150px;
            font-family: Lato;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__logo {
        width: 94px;
        height: 85px;

        &-container {
            margin-right: 65px;
            margin-left: 65px;
        }
    }
}

.intro {
    width: $main_width;
    min-height: 469px;
    background-color: $backgroung_color_gray;
    display: grid;
    justify-content: center;
    justify-items: center;

    &__tittle {
        margin-top: 34px;
        color: $font_color_title;
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

        &-decor {
            letter-spacing: 3.6px;
        }
    }

    &__logo {
        margin-top: 117px;
        width: 52px;
        height: 43px;

        &-item {
            width: inherit;
            height: inherit;
        }
    }

    &__text {
        margin-top: 35px;
        margin-bottom: 142px;
        max-width: 1079px;
        max-width: 600px;
        color: $font_color_text;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
    }
}

.bikes {
   // background-color: $backgroung_color_white;
    width: $main_width;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__logo {
        height: 100vh;
        max-height: 600px;

        &--big {
            grid-column: span 2;

            &:nth-child(1) {
                background-image: url('../src/img/Layer_10.png');
                background-size: inherit auto;

            }
        }
    }

    &__item {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: space-between;
        background-color: $backgroung_color_white;
        padding: 0;

        height: 100vh;
        max-height: 600px;
        width: $onethird_width;

        &-bottom{
            width: $onethird_width;
            height: 200px;
            
            &--first{       
                background-image: url('../src/img/Layer_11.png');
                background-position: center;
                background-size: auto 200px;
            }
        }

        &-decor{
            margin: 0 auto;
            width: 30px;
        }

        &-text{
            width: 200px;
        }
    }

}